<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} Página Principal {% endblock %}</title>
</head>
<body>
    
    <view>
        <a href="{% url 'index'%}">Home</a> |
        <a href="{% url 'sobre'%}">Sobre</a> |
        <a href="{% url 'contato'%}">Contato</a>
    </view>
    
    {% block conteudo %}
    <view>
        <h1>Página Principal</h1>
    </view>
    {% endblock %}  
</body>
</html>

