{% extends 'base.html' %}

{% block titulo%} Produtos {% endblock %}

{% block cards %}    {% endblock %}

{% block titulo_page %} Listagem de Produtos {% endblock %}

{% block conteudo%} 

<button class="btn btn-primary"  onclick="location.href='{% url 'form_produto' %}'">Novo Produto</button>

<br>
<br>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor (R$)</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in lista %}
        <tr>
            <td> {{item.id}}</td>
            <td> {{item.nome}}</td>
            <td>{{item.preco}}</td>
            <td>
                <button class="btn btn-primary"  onclick="location.href='{% url 'detalhes_produto' item.id %}'">Detalhes</button>
                <button class="btn btn-warning"  onclick="location.href='{% url 'editar_produto' item.id %}'">Alterar</button>
                <button class="btn btn-danger"  onclick="confirmarExclusao{% url 'excluir_produto' item.id %}'">Excluir</button>
            </td>
        </tr>
        {% endfor %}
      
    </tbody>
</table>


<script>
    function confirmarExclusao(url) {
        const confirmar = confirm("Tem certeza que deseja excluir este produto?");
        if (confirmar) {
            window.location.href = url;
        }
        // Caso o usuário cancele, nada acontece e a página permanece como está.
    }
</script>

{% endblock %}