{% extends 'base.html' %}

{% block titulo%} Produtos {% endblock %}

{% block cards %}    {% endblock %}

{% block titulo_page %} Listagem de Produtos {% endblock %}

{% block conteudo%} 

<button class="btn btn-primary"  onclick="location.href='{% url 'form_produto' %}'">Novo Produto</button>

<br>
<br>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor (R$)</th>
        </tr>
    </thead>
    <tbody>
        {% for item in lista %}
        <tr>
            <td> {{item.id}}</td>
            <td> {{item.nome}}</td>
            <td>{{item.preco}}</td>
        </tr>
        {% endfor %}
      
    </tbody>
</table>


{% endblock %}